.vista{
    height: 100vh;
    width: 100%;

    .borda{
        border: 22px dotted black;
        
    }

    .logo1 .logo{
        width: 360px;
        height: 315px;
        margin-left: 55px;
        margin-top: 10px;
    }

    h1{
        font-family:Verdana, Tahoma;
        font-size: 32px;
        margin-bottom: 15px;
        margin-top: 10px;
        margin-left: 50px;
    }

    .logowan{
        width: 300px;
        height: 295px;
        
    }

    .alineLogo{
        margin-left: 180px;
        margin-bottom: 45px;
    }
    
}

